In [1]:
import pandas as pd 
import numpy as np

In [6]:
data = {'values':[100,200,300,400,500]}
df = pd.DataFrame(data)

In [7]:
numpy_arr = np.array(df['values'])

In [11]:
df['cummulative Sum'] = np.cumsum(numpy_arr)

In [12]:
df

   values  cummulative Sum
0     100              100
1     200              300
2     300              600
3     400             1000
4     500             1500