In [3]:
import pandas as pd 
import numpy as np 

d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}

df = pd.DataFrame(d)
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [4]:
#get list of column headers

print(list(df.columns.values))

['col1', 'col2', 'col3']

In [6]:
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
df

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [7]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [8]:
df[df['col1']==4]

   col1  col2  col3
1     4     5     8
3     4     7     0

In [10]:
df= df[['col3','col2','col1']]
df

   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

In [15]:
df2 = {'col1': 10, 'col2': 11, 'col3': 12}
df = df.append(df2, ignore_index=True)
df

AttributeError: 'DataFrame' object has no attribute 'append'

In [17]:
df[df['col2']!=5]

   col3  col2  col1
0     7     4     1
2     9     6     3
3     0     7     4
4     1     8     5

In [19]:
df.iloc[2]

col3    9
col2    6
col1    3
Name: 2, dtype: int64