In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = {'Name': ['Teodosija', 'Sutton', 'Taneli', 'David', 'Emily'],
        'Age': [25, 30, 22, 35, 28],
        'Salary': [50000, 60000, 45000, 70000, 55000]}

In [3]:
df = pd.DataFrame(data)

In [4]:
selected_age = np.array([25,35])

In [6]:
selected_rows = df[df['Age'].isin(selected_age)]
print(selected_rows)

        Name  Age  Salary
0  Teodosija   25   50000
3      David   35   70000