In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Values': [100, 200, 300, 400, 500, 600]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Category  Values
0        A     100
1        B     200
2        A     300
3        B     400
4        A     500
5        B     600

In [13]:
result = df.groupby('Category')['Values'].mean()

In [14]:
print(result)

Category
A    300.0
B    400.0
Name: Values, dtype: float64