In [1]:
import pandas as pd

In [2]:
data = {'Name': ['Teodosija', 'Sutton', 'Taneli', 'Ravshan', 'Ross'],
        'Age': [26, 32, 25, 31, 28],
        'Salary': [50000, 60000, 45000, 70000, 55000]}

df = pd.DataFrame(data)

In [6]:
selected_rows = df[ (df['Age']>26) & (df['Salary']>45000)]

In [7]:
print(selected_rows)

      Name  Age  Salary
1   Sutton   32   60000
3  Ravshan   31   70000
4     Ross   28   55000